.header {
  position: fixed;
  width: 100%;
  top: 0;
  background: rgba(2, 6, 23, 0.95);
  padding: 15px 6%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

.logo {
  font-size: 25px;
  color: #38bdf8;
}

/* Nav */
.nav {
  display: flex;
  align-items: center;
}

.nav a {
  font-size: 20px;
  margin-left: 40px;
  text-decoration: none;
  color: #f8fafc;
  font-weight: 500;
}

/* Hamburger */
.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.hamburger span {
  width: 28px;
  height: 3px;
  background: white;
  border-radius: 5px;
}

/* Mobile + Tablet */
@media (max-width: 900px) {
  .hamburger {
    display: flex;
  }

  .nav {
    position: absolute;
    top: 70px;
    right: 6%;
    background: rgba(2, 6, 23, 0.98);
    flex-direction: column;
    width: 220px;
    padding: 20px;
    border-radius: 12px;

    /* Hidden by default */
    transform: translateX(120%);
    transition: 0s ease;
  }

  .nav a {
    margin: 12px 0;
    font-size: 18px;
  }

  .showMenu {
    transform: translateX(0);
  }
}